html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #1f2933, #374151, #9ca3af, #facc15, #eab308);
    color: #f9fafb;
    margin: 0;
}

nav {
    background: rgba(31, 41, 51, 0.9);
    border-bottom: 1px solid rgba(250, 204, 21, 0.3);
    padding: 10px;

    position: sticky;
    top:0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #f9fafb;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    color: #facc15;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: right;
    }
}

.hero {
    background: rgba(31, 41, 51, 0.7);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(250, 204, 21, 0.3);
    padding: 80px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #facc15;
}

.hero-text {
    text-align: right;
}

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #facc15;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 22px;
    background: #facc15;
    color: #1f2933;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #eab308;
    transform: translateY(-2px);
}

section {
    background: rgba(55, 65, 81, 0.6);
    backdrop-filter: blur(14px);
    margin: 30px auto;
    padding: 30px;
    max-width: 900px;
    border-radius: 16px;
    border: 1px solid rgba(250, 204, 21, 0.25);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-6px);
}

h2 {
    color:#facc15;
    border-bottom: 2px solid rgba(250, 204, 21, 0.4);
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.about-photo {
    width: 280px;
    border-radius: 10px;
    border: 2px solid #facc15;
}

.welcome {
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    font-size: 42px;
    color: #facc15;
    letter-spacing: 2px;

    text-shadow:
    0 0 6px rgba(250,204,21,0.4),
    0 0 12px rgba(250,204,21,0.2);

    animation: slideIn 1.2s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 700px) {
    .about-header {
        flex-direction: column;
        text-align: center;
    }

    .welcome {
        text-align: center;
    }
}

.skills span {
    display: inline-block;
    padding: 8px 14px;
    margin: 6px;
    background: rgba(250, 204, 21, 0.15);
    border: 1px solid #facc15;
    border-radius: 20px;
    font-size: 14px;
    color:#f9fafb;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        text-align: center;
        margin-top: 15px;
    }
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.skill-card {
    text-align: center;
    background: rgba(250, 204, 21, 0.1);
    border: 1px solid rgba(250, 204, 21, 0.3);
    border-radius: 12px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.skill-card p {
    margin-top: 8px;
    font-size: 14px;
}

/* Grid layout */
.strengths-cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
   gap: 12px;
   margin-top: 10px;
}

/* Individual card */
.s-card {
   text-align: center;
   padding: 12px;
   border: 1px solid rgba(250,204,21,0.3);
   border-radius: 12px;
   background: rgba(55,65,81,0.5);
   transition: all 0.3s ease;
   font-size: 22px;        /* emoji size */
}

/* Text inside card */
.s-card p {
   font-size: 14px;
   margin-top: 6px;
}

/* Hover effect */
.s-card:hover {
   transform: translateY(-4px);
   background: rgba(250,204,21,0.15);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.project-card {
  background: rgba(55,65,81,0.6);
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(250,204,21,0.25);
}

.project-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  padding: 8px 12px;
  border: 1px solid #facc15;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
    margin-top: 15px;
}

.social-links a {
    padding: 10px 16px;
    background: rgba(250, 204, 21, 0.15);
    border: 1px solid #facc15;
    border-radius: 25px;
    text-decoration: none;
    color: #f9fafb;
    transition: 0.3s ease;
}

.social-links a:hover {
    background: #facc15;
    color: #1f2933;
}

footer {
    text-align: center;
    padding: 20px;
    opacity: 0.8;
    font-size: 16px;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 2s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

#welcome #type::after,
#type::after {
  content: "|";
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}